Repository thefiz/Archipelago-index: changes, and which Taskcluster tasks are due for each by the changed paths.
All: diff, index

taskcluster/kinds/diff/kind.yml:

---
task-defaults:
  worker:
    docker-image: ghcr.io/eijebong/apwm:main-47
    max-run-time: 1800
    volumes:
      - /builds/worker/checkouts
      - /builds/worker/.cache
  run-on-tasks-for: ["github-pull-request", "github-pull-request-untrusted"]
  optimization:
    skip-unless-changed: ["index.toml", "index/**"]

tasks:
  diff:
    worker-type: linux-small
    description: Run apwm diff
    run:
      using: run-task
      command: >-
        apwm diff -i ./ -f https://github.com/Eijebong/Archipelago-index -o /builds/worker/diffs
    worker:
      artifacts:
        - type: directory
          path: /builds/worker/diffs
          name: public/diffs

taskcluster/kinds/publish/kind.yml:

task-defaults:
  worker:
    docker-image: {in-tree: publish}
    max-run-time: 1800
  worker-type: "linux-small"
  run-on-tasks-for: ["github-push"]
  run-on-git-branches: ["main"]
  optimization:
    skip-unless-changed: ["index.toml", "index/**", "taskcluster/**"]

kind-dependencies:
  - update

tasks:
  index:
    dependencies:
      index: update-index
    description: Push changed index.lock
    scopes:
      - secrets:get:Archipelago-index
    run:
      using: run-task
      command: >-
        cd $VCS_PATH && /usr/local/bin/setup-ssh.sh &&
        (git commit -am "Update lockfile" || exit 0) &&
        (git remote add repo git@github.com:Eijebong/Archipelago-index.git || true) &&
        git push repo HEAD:main
    fetches:
      index:
        - artifact: index.lock
          extract: false
          dest: /builds/worker/checkouts/vcs

taskcluster/kinds/update/kind.yml:

---
task-defaults:
  worker:
    docker-image: ghcr.io/eijebong/apwm:main-47
    max-run-time: 1800
    volumes:
      - /builds/worker/checkouts
      - /builds/worker/.cache
  optimization:
    skip-unless-changed: ["index.toml", "index/**"]

tasks:
  index:
    worker-type: linux-small
    description: Run apwm update
    run:
      using: run-task
      command: >-
        cd $VCS_PATH && apwm update -i ./ && git diff && apwm diff -i ./ -f https://github.com/Eijebong/Archipelago-index -o /builds/worker/diffs
    worker:
      artifacts:
        - type: file
          path: /builds/worker/checkouts/vcs/index.lock
          name: public/build/index.lock
        - type: directory
          path: /builds/worker/diffs
          name: public/diffs

taskcluster/kinds/webhook/kind.yml:

task-defaults:
  worker:
    docker-image: {in-tree: publish}
    max-run-time: 1800
  worker-type: "linux-small"
  run-on-tasks-for: ["github-push"]
  run-on-git-branches: ["main"]
  optimization:
    skip-unless-changed: ["index.lock"]

tasks:
  index:
    description: Webhook to update lobby
    scopes:
      - secrets:get:ap-lobby
    run:
      using: run-task
      command: >-
        /usr/local/bin/send_webhook.sh

Remove unused artifacts now
  taskcluster/kinds/update/kind.yml
Due: index

Update lockfile
  index.lock
Due: index

Debug CI
  taskcluster/kinds/diff/kind.yml
  taskcluster/src/transforms/github.py
Due: index

Update jakanddaxter.toml to v0.1.1
  index/jakanddaxter.toml
Due: diff, index

Remove print
  taskcluster/src/transforms/github.py
Due: index

Add sly1
  index/sly1.toml
Due: diff, index

Add terraria beta
  apworlds/terraria-0.5.0+beta.apworld
  index/terraria.toml
Due: diff, index

Update FRLG
  index/pokemon_frlg.toml
Due: diff, index

Update yacht dice
  index/yachtdice.toml
Due: diff, index

Update powerwash simulator manual
  apworlds/manual_powerwashsimulator_hallojasper-0.0.4.apworld
  apworlds/manual_powerwashsimulator_hallojasper-0.0.5.apworld
  index/manual_powerwashsimulator_hallojasper.toml
Due: diff, index

Update tje
  index/tje.toml
Due: diff, index

Update the witness to beta
  index/witness.toml
Due: diff, index

Add shapez
  index/shapez.toml
Due: diff, index

Fix name
  index/shapez.toml
Due: diff, index

Add oracle of ages
  index/tloz_ooa.toml
Due: diff, index

Update earthbound
  index/earthbound.toml
Due: diff, index

Deal with new tc workers
  taskcluster/kinds/diff/kind.yml
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/publish/kind.yml
  taskcluster/kinds/update/kind.yml
  taskcluster/kinds/webhook/kind.yml
Due: index

Also run the decision task with podman
  .taskcluster.yml
Due: none

Update jakanddaxter.toml to v0.1.2
  index/jakanddaxter.toml
Due: diff, index

Add Mega Man X
  index/mmx.toml
Due: diff, index

Updated Forbidden Memories and Diddy Kong Racing
  index/diddy_kong_racing.toml
  index/fm.toml
Due: diff, index

Update khbbs to v0.1.2
  index/khbbs.toml
Due: diff, index

Always use the latest apwm image for CI
  taskcluster/kinds/diff/kind.yml
  taskcluster/kinds/update/kind.yml
Due: index

Update Tunic to 4.0.1
  index/tunic.toml
Due: diff, index

Add CrossCode
  index/crosscode.toml
Due: diff, index
